API server status return code should be 200 instead of 201

When you use the Kytos REST API to get API Server status [1], you get return code 201 instead of 200.  According to RFC 7231, section 6.3.2, the HTTP status code 201 is supposed to be used when "the request has been fulfilled and has resulted in **one or more new resources being created**."

I'm not sure which object will be created by this call, but maybe the status should be 200 instead of 201.

How to reproduce:
```
# curl -v -X GET http://0.0.0.0:8181/api/kytos/core/status/
Note: Unnecessary use of -X or --request, GET is already inferred.
*   Trying 0.0.0.0...
* TCP_NODELAY set
* Connected to 0.0.0.0 (127.0.0.1) port 8181 (#0)
> GET /api/kytos/core/status/ HTTP/1.1
> Host: 0.0.0.0:8181
> User-Agent: curl/7.58.0
> Accept: */*
>
* HTTP 1.0, assume close after body
< HTTP/1.0 201 CREATED
< Content-Type: text/html; charset=utf-8
< Content-Length: 23
< Access-Control-Allow-Origin: *
< Server: Werkzeug/1.0.1 Python/3.6.8
< Date: Thu, 18 Jun 2020 22:22:18 GMT
<
* Closing connection 0
{"response": "running"}
```


[1] https://docs.kytos.io/developer/rest_endpoints/